.cart-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    z-index: 9999;
    color: black;
}

#btnComprar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

#btnComprar:hover {
    background-color: #0056b3;
}

#btnComprar:active {
    transform: translateY(1px);
}