body {
    font-family: Arial, sans-serif;
}

.contenedor {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    text-align: center;

}

.figura-contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px; /* Espacio entre las figuras */
    flex-wrap: wrap; /* Permitir que los elementos se ajusten a la siguiente línea si es necesario */

}

.figura {

    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
   /* background-color: rgba(255, 255, 255, 0.8); !* Blanco con 90% de opacidad *!*/
    color: black; /* Asegura que el texto sea completamente opaco */
    position: relative;
}

.figura img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
