<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

<main class="container mt-5">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="card">
            <div class="card-header">Crear cuenta de usuario</div>

            <div class="card-body pt-3">
                <form sec:authorize="!isAuthenticated()"
                      th:action="@{/usuario/signup/entrar}" method="post"
                      th:object="${usuarioDto}">

                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input id="username" type="text" class="form-control"
                               placeholder="Introduzca username">
                        <span th:if="${#fields.hasErrors('username')}"
                              class="help-block" id="username-error">Errores</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input id="email" type="email" class="form-control"
                               placeholder="Introduzca email">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input id="password" type="password" class="form-control"
                               placeholder="Introduzca contraseña">
                    </div>

                    <div class="mb-3">

                        <div class="form-check form-check-inline" >
                            <input  type="checkbox" class="form-check-input">
                            <!--
                            <label th:for="${perfil.nombre}" th:text="${perfil.nombre}">Perfil</label>
                            -->
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="col-sm-12">
                        <button id="btn-login" type="submit" class="btn btn-success">Crear usuario</button>
                    </div>

                </form>
            </div>
            <div class="card-footer text-center">
                <p class="text-center mt-3">¿Ya tienes cuenta?
                    <a class="text-primary" href="#" th:href="@{/inicioSesion/login}">Iniciar sesión</a>
                </p>
                <p sec:authorize="isAuthenticated()">Usted ya ha iniciado una sesión</p>
            </div>
        </div>
    </div>

</main>

</body>
</html>